 @media print {
     nav,
     [data-role='form'],
     [data-role='iterations'],
     [data-role='projects'],
     [data-role='teams'] {
         display: none;
     }

     [data-role='workItemColumn']::after{
        content: ''; 
        display: inline-block;        
        page-break-after: always;
     }

 }

 .area-path {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}

 .iteration-path {
    font-style: italic;
}

.cursor-pointer{
    cursor: pointer;
}
 
 .card-iteration {
     height: 180px;
 }
 
 .card-iteration .card-iteration-content {
     height: 70%;
 }
 
 .card-workitem {
     height: 300px;
 }
 
 .card-workitem .card-workitem-content {
     height: 100%;
 }

 span.badge[data-badge-caption]::after {
    content: " " attr(data-badge-caption);
}

.badge-position {
    margin-top: 4px;
    margin-right: 15px;
}

.nav-circle{
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
}