<script id="iteration-template" type="text/x-handlebars-template">
    <div class="col s6 m4 cursor-pointer">
        <div class="card card-iteration blue-grey darken-1">
            <div class="card-content card-iteration-content white-text" data-role="iteration" data-path="{{path}}">
                <span class="col s12 card-title">{{name}}</span>
                <span class="col s12 iteration-path">{{iterationPath}}</span>
            </div>
            <div class="card-action">
                {{fromDateToDate startDate finishDate}}
            </div>
        </div>
    </div>
</script>