<script id="iteration-template" type="text/x-handlebars-template">
    <div class="col s6 m4">
        <div class="card card-iteration blue-grey darken-1">
            <div class="card-content card-iteration-content white-text" data-role="iteration" data-path="{{path}}">
                <span class="card-title">{{name}}</span>
            </div>
            <div class="card-action">
                {{fromDateToDate startDate finishDate}}
            </div>
        </div>
    </div>
</script>
